.sign-form__field {
    position: relative;  
    width: 100%;
}
.sign-form__fields-container {
  display: inline-flex;
  flex-direction: column;
  padding: 40px;
  gap: 20px;
  border-radius: 40px;
  border: 1px solid rgba(25, 6, 54, 0.2);
  margin-bottom: 32px;
}
.sign-form__fields-container label {
  color: #534068;
  font-family: var(--accent-font);
  font-size: 20px;
  font-weight: 700;
  letter-spacing: -0.4px;
}
.sign__input {
  padding: 23px 36px;
  border-radius: 20px;
  background: #F4F4F6;
  display: block;
  width: 720px;
}
.sign__input::-moz-placeholder {
  color: rgba(25, 6, 54, 0.4);
  font-family: var(--main-font);
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -0.16px;
}
.sign__input::placeholder {
  color: rgba(25, 6, 54, 0.4);
  font-family: var(--main-font);
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -0.16px;
}
.errorUnder {
    color: #F37979;
    display: flex;
    align-items: center;
    gap: 4px;
    animation: fadeIn 0.3s ease;
    font-family: Nunito;
    font-weight: 500;
    font-style: Medium;
    font-size: 14px;
    line-height: 110.00000000000001%;
    letter-spacing: -2%;
}




  .button_show_password {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #534068;
    z-index: 2;
    transition: opacity 0.2s ease;
}